.section {
    background-color: rgba(9, 9, 10, 1);
    padding-bottom: 60px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
    margin: 0 auto;
}

.item {
    background-color: rgba(15, 31, 47, 1);
    width: 100%;
    border-radius: 20px;
    min-height: 520px;
}

.itemTitle {
    color: rgba(214, 37, 143, 1);
    text-align: center;
}

.itemTime {
    color: rgba(36, 61, 85, 1);
    text-align: right;
    margin-right: 10px;
}

.itemDescription {
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 16px;
}

.itemDiv {
    text-align: right;
}

.itemImg {
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    width: inherit;
}

.otherItem {
    display: none;
}

@media (min-width: 425px) {
    .itemDescription {
        text-align: left;
    }

    .item {
        width: 100%;
        max-width: 450px;
        min-height: 600px;
    }
}

@media (min-width: 768px) {
    .list {
        flex-direction: row;
        justify-content: center;
        gap: 27px;
    }

    .item {
        width: 347px;
        min-height: 620px;
    }

    .itemTitle {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .itemTime {
        font-size: 20px;
        line-height: 23px;
    }

    .itemDescription {
        font-size: 18px;
        line-height: 21px;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .otherItem {
        display: block;
    }

    .item {
        width: 315px;
    }

    .list {
        gap: 19px;
    }
}

@media (min-width: 1440px) {
    .section {
        background-image: url("../../../../public/img/arrow.svg");
        background-repeat: no-repeat;
        background-position: 13% 20px;
    }

    .list {
        margin-top: 60px;
        gap: 30px;
    }

    .item {
        width: 410px;
        min-height: 700px;
    }
}

@media (min-width: 1920px) {
    .section {
        background-image: url("../../../../public/img/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-position-y: 50%;
    }
}