.section {
    background-color: rgba(9, 9, 10, 1);
    padding-left: 20px;
    padding-right: 22px;
    padding-bottom: 47px;
}

.cocktail {
    max-width: 300px;
}

.cocktails {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 100%;
}

.item {
    text-align: left;
    margin-bottom: 20px;
}

.itemTitle {
    display: inline-block;
    color: rgba(214, 37, 143, 1);
    font-size: 18px;
    line-height: 24px;
}

.itemPrice {
    display: inline-block;
    float: right;
    margin-top: 2px;
    color: rgba(214, 37, 143, 1)
}

.itemDes {
    font-family: 'Roboto Conserned';
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 16px;
    width: 180px;
}

.barButton {
    font-family: Lumberjack;
    background-color: transparent;
    width: 100%;
    border: 2px solid rgba(214, 37, 143, 1);
    min-height: 37px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 16px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.barLink {
    display: block;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.barItem {
    text-transform: uppercase;
}

@media (min-width: 425px) {
    .cocktail {
        max-width: 385px;
    }

    .barButton {
        min-height: 51px;
        border-radius: 20px;
    }
}

@media (min-width: 768px) {

    .section {
        background-image: url("../../../../public/img/bar-star.png");
        background-repeat: no-repeat;
        background-position: 90% 0;
    }

    .cocktail {
        max-width: 500px;
    }

    .item {
        background-image: url("../../../../public/img/cocktail-line.png");
        background-repeat: no-repeat;
        background-position: 60% 10px;
        max-width: 674px;
        width: 100%;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .barButton {
        max-width: 728px;
        height: 68px;
        font-size: 24px;
        line-height: 28px;
    }

    .barLink {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1024px) {

    .cocktail {
        max-width: 320px;
        height: 340px;
        margin-right: auto;
    }

    .cocktails {
        flex-direction: row-reverse;
        max-width: 984px;
    }

    .item {
        max-width: 641px;
    }

    .barButton {
        max-width: 984px;
    }
}

@media (min-width: 1440px) {
    .item {
        max-width: 716px;
        padding: 0;
    }

    .cocktails {
        max-width: 1290px;
    }

    .cocktail {
        max-width: 520px;
        width: 100%;
        max-height: 426px;
        height: 100%;
    }

    .barButton {
        max-width: 1290px;
    }

    .section {
        padding-bottom: 110px;
    }
}